{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth": 100,
    "bracketSameLine": true,
    "overrides": [
      {
        "files": "*.ascx",
        "options": {
          "printWidth": 140,
          "tabWidth": 2
        }
      }
    ]
}
